@media (min-width: 1025px) and (max-width: 1044px)
{

	.color-red img 
	{
		width: 22%;
    	margin-left: 30px;
	}

}

@media (min-width: 867px) and (max-width: 1024px)
{

	.color-red img 
	{
		width: 22%;
    	margin-left: 30px;
	}

}

@media (min-width: 767px) and (max-width: 866px)
{

	.color-red img 
	{
		width: 22%;
    	margin-left: 26px;
	}

}

@media (min-width: 701px) and (max-width: 766px)
{

	.color-red img 
	{
		width: 22%;
    	margin-left: 23px;
	}

}


@media (min-width: 611px) and (max-width: 700px)
{

	.color-red img 
	{
		margin-left: 18px;
	}

}

@media (min-width: 460px) and (max-width: 610px)
{

	.color-red img 
	{
		width: 21%;
		margin-left: 18px;
	}

}

@media (min-width: 400px) and (max-width: 459px)
{

	.color-red img 
	{
		width: 21%;
		margin-left: 16px;
	}

}

@media (min-width: 320px) and (max-width: 399px)
{

	.color-red img 
	{
		width: 21%;
		margin-left: 11px;
	}

}

@media (min-width: 900px)
{

	.subscriptionDetail ul li 
	{
    	font-size: 16px;
    	padding-top: 12px;
	}

	.subscriptionDetail .button-balanced 
	{
    	margin-top: 50px;
    	margin-bottom: 50px;		
	}

}

@media (min-width: 680px)
{
	.modal 
	{
        top: 4%;
	    right: 20%;
	    bottom: 19%;
	    left: 20%;
	    min-height: 240px;
	    width: 60%;
		}
}


