<ion-view class="formBg">
<ion-content>
<div class="col-80 loginPart"><!---------- loginPart start ---------->


          
        <div class="list list-inset">

            <img src="img/login-logo.png"/> 
        <form>
          <label class="item item-input">
          <input type="email"  placeholder="Username or Email" ng-model='data.username'>
          </label>

        <br>

          <label class="item item-input">
          <input type="password"  placeholder="Password" ng-model='data.password'>
          </label>
          

        <br>  

          <!-- <a href="#app/magazine"> --><!-- </a> -->
        <button class="button button-block button-positive" ng-click="login(data)">Login</button>
        </form>

          <p><a href="#forget">Forgot Password?</a></p>



      <div class="newUserRegister">
        
      <p> New User </p>
      <a href="#newRegister"><button class="button button-block btn-default" >Register new subscriber</button></a>

          <br>


     <!--  <p> Already print Subscriber </p>
      <a href="#digitalAccess" nav-transition="android"><button class="button button-block">Get digital access</button></a> -->

          </div>
        <div class="testdiv">
          <img class="media-logo" src="img/media-logo.png"> 
        </div>
          
          
        </div>


        </div><!---------- loginPart end ---------->
      </ion-content>
    </ion-view>
    </div><!---------- loginPart end ---------->

</ion-view>
</ion-content>    
